body {
    display:flex;
    flex-direction: column;
    justify-items: space-between;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 8px 150px 8px 8px;
}

li, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color:white;

}

.header {
    display: flex;
    justify-content: space-between;
    }

.header-logo {
    margin: 8px 8px 8px 150px;
    font-size: 24px;
    color: #F9FAF8;

}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0;
}

.hero-content {
    margin: 8px 8px 8px 150px;
    width: 450px;
}

.hero-image {
    background-color: gray;
    margin: 8px 150px 8px 8px;
    width: 450px;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    padding: 8px 24px;
    border-radius: 8px;
  }

button.sign-up {
    background-color: #3882F6;
    color: white;
    border: 1px solid #3882F6;
    font-weight: 600;
}

.info-containers {
    display: flex;
    justify-items: space-between;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px 50px 150px;
}

.info-title {
    padding: 25px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.rounded-square {
    height: 100px;
    background-color:white;
    width: 100px;
    border-radius: 8px;
    border: 3px solid #3882F6;
    padding: 10px;

  }

  .text {
      text-align: center;
  }

.testimonial {
    background-color: #E5E7EB;
    padding: 50px 250px 50px 250px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.who-quote {
    text-align: right;
    font-weight: bolder;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 50px;
    padding: 30px 120px 30px 120px;
    display: flex;
    align-items: center;
}

.modal-title {
    font-weight: bold;
    color: white;
}

.modal-text {
    color: white;
}

.modal-text-only {
    padding: 20px;
}


button.sign-up2 {
    background-color: #3882F6;
    color: white;
    border: 1px solid white;
    font-weight: 600;
    height: 50%;
}

.footer {
    text-align: center;
    padding: 50px 0;
}